BasedOnStyle: Microsoft
BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
IndentWidth: 2
AccessModifierOffset: -2
AlignConsecutiveAssignments: true
AlignTrailingComments: true
BinPackArguments: true
IndentCaseLabels: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
PointerAlignment: Left
NamespaceIndentation: All
AlwaysBreakTemplateDeclarations: true
AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 2
BreakConstructorInitializers: BeforeComma
SortIncludes: false